extends layout
block content
  h2 #{station.name}
  h3 Parking Units
  if station.parkingUnits.length
    ol
      each parkingUnit in station.parkingUnits
        li
          p 
            b Code: #{parkingUnit.code}
          p Status: #{parkingUnit.status == 0 ? "Available" : "Unavailable"}
          p Vehicle: #{parkingUnit.vehicle.brand}
          hr
  else
    p Has no Parking Units